<!DOCTYPE html>
<html lang="zxx">
<head>
<!-- Stylesheet -->
<link rel="stylesheet" href="/assets/front/css/vendor.css">
<link rel="stylesheet" href="/assets/front/css/style.css">
<link rel="stylesheet" href="/assets/front/css/responsive.css">
<link rel="stylesheet" href="/assets/front/css/color.css">
</head>
<app-header-user></app-header-user>
<body >
        <router-outlet></router-outlet>
   
  <!-- all plugins here -->
  <script src="/assets/front/js/vendor.js"></script>
  <!-- main js  -->
  <script src="/assets/front/js/main.js"></script>
  </body>
  <app-footer-user></app-footer-user>
  </html>