<h1>Please SignUP</h1>


<form (ngSubmit)="register()">
    <div>
      <label for="firstname">Prénom :</label>
      <input type="text" id="firstname" name="firstname" required [(ngModel)]="registerRequest.firstname">
    </div>
    
    <div>
      <label for="lastname">Nom :</label>
      <input type="text" id="lastname" name="lastname" required [(ngModel)]="registerRequest.lastname " >
    </div>
    
    <div>
      <label for="email">Email :</label>
      <input type="email" id="email" name="email" required [(ngModel)]="registerRequest.email "    >
    </div>
    
    <div>
      <label for="password">Mot de passe :</label>
      <input type="password" id="password" name="password" required required [(ngModel)]="registerRequest.password ">
    </div>

    
    <button type="submit">S'inscrire</button>
  </form>